Package: network-manager-defaultprinter
Version: 0.6
Section: network
Priority: extra
Architecture: all
Maintainer: Jakobus Schürz <xundeenergie@gmail.com>
Homepage: http://github.com/xundeenergie/nm-defaultprinter
Provides: network-manager-defaultprinter
Depends: network-manager-customsettings
Description: Transitional dummy-package from network-manager-defaultprinter to network-manager-customsettings 
 Delete this package after installing/upgrad it
