Package: network-manager-defaultprinter-cups
Version: 0.4
Section: network
Priority: extra
Architecture: all
Maintainer: Jakobus Schürz <xundeenergie@gmail.com>
Homepage: http://github.com/xundeenergie/nm-defaultprinter
Provides: network-manager-defaultprinter-cups
Depends: cups, cups-client, network-manager, python3, python3-cups
Description: Set connection-depend default-printer with NetworkManager 
 Dispatcher-Skript for Network-Manager in python3 to set, change, query and delete default-printer depending on the connection for NetworkManager.
