Package: network-manager-defaultprinter-cups
Version: 0.6
Section: network
Priority: extra
Architecture: all
Maintainer: Jakobus Schürz <xundeenergie@gmail.com>
Homepage: http://github.com/xundeenergie/nm-defaultprinter
Provides: network-manager-defaultprinter-cups
Depends: network-manager-customsettings-cups
Description: Transitional dummy-package from network-manager-defaultprinter-cups to network-manager-customsettings-cups
 Delete this package after installing/upgrad it
